@font-face {
  font-family: "RobotoFlex";
  src: url("../assets/fonts/RobotoFlex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-home-page, app-about-us {
  width: 100%;
  height: 100%;
  display: block;
}

app-footer,
app-header {
  display: block;
}
