@import '../../../styles/colors.scss';


.navbar {
  box-shadow: $color-4 0px 0px 10px;
  height: 85px;

  .company-logo{
    .logo {
      height: 70px;
      width: 70px;
    }
    h3{
      margin-left: 15px;
    }
  }

  .nav {
    align-items: center;
    .nav-link {
      color: $color-5;
      font-size: 16px;
      font-weight: 100;
      padding: 0 10px;
      text-transform: uppercase;
      transition: all 0.3s ease;

      &:hover {
        font-weight: 800;
      }
      &.active {
        font-weight: 800;
      }
    }
  }
}
