<div class="row navbar navbar-expand-lg">
  <div class="col-md-12 col-xs-6">
    <div class="container d-flex justify-content-between">
      <div class="company-logo d-flex flex-row align-items-center">
        <img src="assets/logos/Airplay.svg" alt="logo" class="logo">
        <h3>Software Solutions</h3>
      </div>

        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactUs" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
              </li>
          </ul>
    </div>
</div>
