@import '../../../styles/colors.scss';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    min-height: 500px;
    margin-bottom: 20px;

    &.home-page-message{
        background-color: $color-1;
        color: $color-4;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        box-shadow: $color-3 0px 0px 10px;
    }

    .jumbotron {
        padding: 20px;
    }

    img{
        width: 100%;
        height: 100%;
    }
}