<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-1">Home Page</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img
        src="../../../assets/images/sampleIImg1.jpg"
        class="img-fluid"
        alt="..."
      />
    </div>
    <div class="col-md-6">
      <img
        src="../../../assets/images/sampleIImg2.jpg"
        class="img-fluid"
        alt="..."
      />
    </div>
  </div>
</div>

<div class="container home-page-message">
  <div class="row">
    <div class="col-md-12">
      <p>
        Bacon ipsum dolor amet shank frankfurter turducken, chuck pork loin
        bacon swine kevin pork chop beef. Short ribs andouille ham hock strip
        steak leberkas, t-bone pork shankle beef bacon turkey pork belly
        hamburger. Tri-tip alcatra pork loin shoulder meatball. Kevin beef ribs
        brisket tail pancetta. Fatback chicken rump, pig pork loin kevin buffalo
        jerky. Flank biltong rump, frankfurter meatloaf drumstick chicken filet
        mignon swine strip steak. Sirloin burgdoggen tenderloin kielbasa doner
        pork sausage short loin porchetta kevin picanha spare ribs beef ribs.
      </p>
    </div>
  </div>
</div>
