<div class="row navbar navbar-expand-lg">
  <div class="col-md-12 col-xs-12">
    <div class="container d-flex justify-content-between">
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/aboutUs"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/services"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contactUs"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <p class="text-center">&copy; 2024 StartUp. All Rights Reserved.</p>
    </div>
  </div> 
